---
layout: root
stage: default
---

<main class="demo">
  <figure id="stage" class="stage relative">
    {% include "stages/" + stage + ".html" %}
    <figcaption class="absolute bottom-4 left-1/2 -translate-x-1/2 text-center vise text-base-30 bg-root-bg">
      click in stage to restart animation
    </figcaption>
  </figure>

  <article id="guide" class="guide flex flex-col gap-4">
    <header class="grid gap-4">
      {%- if collections.sortedDemos %}
      {%- set previousPost = collections.sortedDemos | getPreviousCollectionItem %}
      {%- set nextPost = collections.sortedDemos | getNextCollectionItem %}
      {%- if nextPost or previousPost %}

      <nav>
        <ul class="grid grid-cols-2">
          {%- if previousPost %}
          <li class="col-start-1">
            <a href="{{ previousPost.url }}" class="bar-1 w-max">
              <svg class="size-4 object-contain" aria-label="Previous" viewBox="0 0 32 32">
                <use href="#chevron-left" />
              </svg>
              {{ previousPost.data.title }}
            </a>
          </li>
          {% endif %}
          {%- if nextPost %}
          <li class="col-start-2">
            <a href="{{ nextPost.url }}" class="bar-1 justify-end">
              {{ nextPost.data.title }}
              <svg class="size-4 object-contain rotate-180" aria-label="Previous" viewBox="0 0 32 32">
                <use href="#chevron-left" />
              </svg>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>

      {%- endif %}
      {%- endif %}

      <h1 class="title">{{ title }}</h1>
    </header>

    <section class="content">
      {{content | safe}}
    </section>
  </article>

  <css-editor id="editor" class="border p-2 rounded-lg">
    <style>{% include "docs/guide/" + page.fileSlug + ".css" %}</style>
  </css-editor>
</main>

<svg class="hidden" version="2.0">
  <defs>
  <symbol id="chevron-left" viewBox="0 0 32 32">
  <path fill="currentColor" d="M10 16L20 6l1.4 1.4l-8.6 8.6l8.6 8.6L20 26z"/>
  </symbol>
  </defs>
</svg>
