---
layout: base
tags: demo
---

<style>
.loading-bars {
  display: flex;
  align-items: center;
  position: relative;
  gap: 5px;
  width: 200px;
  aspect-ratio: 4 / 3;

  .ball {
    --ball-size: 20px;
    --amp: 50px;
    
    transform: translateY(
      calc(var(--amp) * var(--osc-sin))
    );

    animation: var(--osc);
  }
}
</style>

<figure class="loading-bars">
  <div class="ball"></div>
  <div class="ball" style="--osc-phase: -20ms"></div>
  <div class="ball" style="--osc-phase: -30ms"></div>
  <div class="ball" style="--osc-phase: -50ms"></div>
  <div class="ball" style="--osc-phase: -70ms"></div>
  <div class="ball" style="--osc-phase: -90ms"></div>
  <div class="ball" style="--osc-phase: -110ms"></div>
  <div class="ball" style="--osc-phase: -130ms"></div>
  <div class="ball" style="--osc-phase: -150ms"></div>
  <div class="ball" style="--osc-phase: -170ms"></div>
</figure>
