---
layout: root
tags: demo
---

<style>

.graph {
  --bar-max-height: 50px;
  --bar-width: 10px;
  --bar-gap: 2px;
  --bar-count: 100;
  --padding: 10px;

  display: flex;
  position: relative;
  align-items: center;
  height: calc(var(--bar-max-height) * 2 + var(--padding));
  gap: var(--bar-gap);
  justify-content: center;
  aspect-ratio: 16 / 9;

  .ball {
    /* --osc-state: paused; */
    --amp-y: calc(var(--bar-max-height) * var(--osc-amp));
    --ball-size: var(--bar-width);

    animation: var(--osc);
    translate: 0 calc(var(--osc-sin) * var(--osc-amp) * var(--bar-max-height));
  }
}

</style>

<figure class="graph ch-x">
  <div class="ball" style="--osc-phase: -0.005s;"></div>
  <div class="ball" style="--osc-phase: -0.01s;"></div>
  <div class="ball" style="--osc-phase: -0.015s;"></div>
  <div class="ball" style="--osc-phase: -0.02s;"></div>
  <div class="ball" style="--osc-phase: -0.025s;"></div>
  <div class="ball" style="--osc-phase: -0.03s;"></div>
  <div class="ball" style="--osc-phase: -0.035s;"></div>
  <div class="ball" style="--osc-phase: -0.04s;"></div>
  <div class="ball" style="--osc-phase: -0.045s;"></div>
</figure>
