.title {
  font-size: theme('fontSize.3xl');
}

.content {
  display: flex;
  flex-direction: column;
  gap: theme('spacing.4');

  h2 {
    font-size: theme('fontSize.xl');
    font-weight: bold;
  }

  :where(h2, p) code {
    font-size: 0.9em;
    background: var(--color-05);
    border-radius: 2px;
    display: inline-block;
    padding-left: 0.5ch;
    padding-right: 0.5ch;
  }
}
