@import "./demo_components_figure.css";
@import "./demo_components_header.css";

osc-ball {
  display: block;
}

osc-ball {
  --_ball-size: var(--ball-size, 24px);
  background: var(--color-accent);
  width: var(--_ball-size);
  height: var(--_ball-size);
  border-radius: 100%;
  z-index: 2;

  box-shadow: 
      0 0 10px hsl(from var(--color-accent) h s l / 10%),
      0 0  8px hsl(from var(--color-accent) h s l / 70%),
      0 0 20px hsl(from var(--color-accent) h s l / 80%),
      0 0 50px hsl(from var(--color-accent) h s l / 70%)
    ;
}

osc-dot {
  --_ball-size: var(--ball-size, 4px);
  background: var(--color-accent);
  width: var(--_ball-size);
  height: var(--_ball-size);
  z-index : 2;
  border-radius: 100%;
}


osc-lane {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 999px;
  box-shadow: inset 4px 4px 0px hsl(from black h s l / 0.3);
  border: 2px dashed hsl(from var(--color-sheet) h s l / 0.8);
  padding: 0.25ch 0.5ch;

  &::before {
    position: absolute;
    z-index: -1;
    translate: 0 calc(var(--use-osc) * (-50cqh + 2ch));
    display: block;
    content: "";
    width: 50%;
    background: var(--color-accent);
    aspect-ratio: 1;
    border-radius: 999px;
  }
}
