body>header {
  h1 {
    color: black;
    font-family: var(--font-mono);
    font-weight: 900;


    span {
      display: inline-block;
      width: 1ch;
      animation: var(--osc);
      --osc-sin-frequency: 2;
      color: lch(100% 100% 20deg);
      translate: calc(0.25ch * var(--osc-cos))
        calc(0.25ch * var(--osc-sin))
      ;
    }
  }
}
