.stage {
  --stage-border: 2px dashed var(--color-soft);

  position: relative;
  display: grid;
  place-content: center;

  &:not(.no-ch) {
    &::before,
    &::after {
      content: ' ';
      display:block;
      position: absolute;
      z-index: -1;
    }
    &:not(:has(.graph))::before {
      border-left: var(--stage-border);
      left: 50%;
      top: 0;
      bottom: 0;
    }
    &::after {
      border-bottom: var(--stage-border);
      top: 50%;
      left: 0;
      right: 0;
    }
  }
}

.ch-x {
  --stage-border: 2px dashed var(--color-soft);

  position: relative;

  &::before,
  &::after {
    content: ' ';
    display:block;
    position: absolute;
    z-index: -1;
  }
  &::after {
    border-bottom: var(--stage-border);
    top: 50%;
    left: 0;
    right: 0;
  }
}

.ch {
  position: relative;
  --stage-border: 2px dashed var(--color-soft);

  &::before,
  &::after {
    content: ' ';
    display:block;
    position: absolute;
    z-index: -1;
  }
  &::before {
    border-left: var(--stage-border);
    left: 50%;
    top: 0;
    bottom: 0;
  }
  &::after {
    border-bottom: var(--stage-border);
    top: 50%;
    left: 0;
    right: 0;
  }
}
