@import "./reset.css" layer(demo.base);
@import "./demo_type.css" layer(demo.base);
@import "./demo_components.css" layer(demo.components);
@import "./demo_utils.css" layer(demo.utils);

:root {
  color-scheme: light dark;

  --color-soft: hsl(from currentColor h s l / 10%);
  --color-accent: lch(100% 100% 104deg);
}

@layer demo.base {
  body {
    padding: 1rem;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1;
    gap: 1rem;
  }

  main> :not(:last-child) {
    margin-bottom: 1rem;
  }
}
