body>header {
  min-height: calc(100vh * (2/3));
  display: grid;
  place-content: center;

  h1 {
    animation: var(--osc-only-sin);
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    color: black;
  }
}
