figure {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;

  figcaption {
    grid-column: 1;
    grid-row: 1;
  }

  osc-stage,
  css-editor,
  style[contenteditable] {
    grid-column: 1;
    grid-row: 2 / -1;
    place-self: stretch;
  }

  textarea,
  style[contenteditable] {
    font-size: 11pt;
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    line-height: 1.5;
    padding: 2ch;
    border-radius: 0.5rem;
    background: transparent;
    width: 100%;
    height: 100%;
    display: block;
  }

  style[contenteditable] {
    --opacity: 50%;
    display: block;
    white-space: pre;
    position: absolute;
    inset: 0;
    z-index: 10;
    overflow: auto;
    color: hsl(from var(--color-fg) h s l / var(--opacity));
    width: 100%;
    &:focus {
      --opacity: 100%;
      z-index: 100;
    }
  }

  figcaption {
    font-size: 0.7em;
    letter-spacing: 0.05em;
    max-width: 70%;
    padding: 1rem;
  }
}


figure textarea {
  resize: none;
  color: hsl(from var(--color-fg) h s l / 30%);

  &:not([readonly]) {
    color: hsl(from var(--color-fg) h s l / 90%);
  }
}

figure:has(textarea[readonly]:focus) css-editor::before,
figure:has(textarea:not([readonly]):focus) css-editor::before {
  position: absolute;
  top: -1lh;
  left: 3ch;
  font-family: var(--font-mono);
  font-size: 0.5rem;
  letter-spacing: 0.05em;
  z-index: 100;
  content: " "
}

figure:has(textarea[readonly]:focus) css-editor::before {
  content: "Press enter or click to edit.";
}

/* figure:has(textarea:not([readonly]):focus) css-editor::before { */
/*   content: "Press [esc] to leave textarea."; */
/* } */
