@import "./demo_components_figure.css";
@import "./demo_components_header.css";

osc-ball {
  display: block;
}

osc-ball {
  --_ball-size: var(--ball-size, 24px);
  background: var(--color-accent);
  width: var(--_ball-size);
  height: var(--_ball-size);
  border-radius: 100%;
  z-index: 2;

  box-shadow: 
      0 0 10px hsl(from var(--color-accent) h s l / 10%),
      0 0  8px hsl(from var(--color-accent) h s l / 70%),
      0 0 20px hsl(from var(--color-accent) h s l / 80%),
      0 0 50px hsl(from var(--color-accent) h s l / 70%)
    ;
}

osc-dot {
  --_ball-size: var(--ball-size, 2px);
  background: var(--color-accent);
  width: var(--_ball-size);
  height: var(--_ball-size);
  z-index : 2;
}


osc-lane {
  &::before {
    position: absolute;
    z-index: -1;
    translate: 0 calc(var(--use-osc) * (-50cqh + 2ch));
    display: block;
    content: "";
    width: 50%;
    background: var(--color-accent);
    aspect-ratio: 1;
    border-radius: 999px;
  }
}
