@import "./reset.css" layer(demo.base);
@import "./demo_type.css" layer(demo.base);
@import "./demo_components.css" layer(demo.components);
@import "./demo_utils.css" layer(demo.utils);

:root {
  color-scheme: light dark;

  --color-black: #18181b;
  --color-pink: #fa4979;
  --color-white: #f3f3f3;
  --color-steel: #232135;

  --color-fg: light-dark(var(--color-black), var(--color-white));
  --color-bg: light-dark(var(--color-white), var(--color-black));

  --color-soft: hsl(from var(--color-fg) h s l / 10%);
  --color-accent: var(--color-pink);

  color: var(--color-fg);
  background: var(--color-bg);
}

@layer demo.base {
  body {
    margin: 4rem;
    display: grid;
    grid-template-columns: 1;
    gap: 1rem;
    scroll-snap-type: y mandatory;
    article {
      scroll-snap-align: center;
      min-height: 75svh;
    }
  }

  ol, ul {
    padding-left: 3rem;
  }

  ul.numbered {
    list-style-type: decimal;
  }

  main {
    display: contents;
  }

  main> :not(:last-child) {
    margin-bottom: 1rem;
  }

  article {
    margin: 4rem auto;
    min-height: 100vh;
    max-width: 60ch;
    width: 100%;
    display: grid;
    align-content: center;
    & > :not(:last-child) {
      margin-bottom: 1rlh;
    }
  }
}
